In [1]:
import numpy as np
import pandas as pd

In [4]:
steam_dataset = pd.read_csv('dataset/steam_users.csv')

In [5]:
steam_dataset

                 DateTime       Users  Average Users    In_Game
0     2004-01-13 00:00:00     84998.0            NaN        NaN
1     2004-01-14 00:00:00         NaN            NaN        NaN
2     2004-01-15 00:00:00         NaN            NaN        NaN
3     2004-01-16 00:00:00         NaN            NaN        NaN
4     2004-01-17 00:00:00         NaN            NaN        NaN
...                   ...         ...            ...        ...
9298  2025-04-16 07:50:00  24523481.0            NaN  5615656.0
9299  2025-04-16 08:00:00  24721905.0     28541891.0  5846647.0
9300  2025-04-16 08:10:00  24888362.0            NaN  5846647.0
9301  2025-04-16 08:20:00  25084817.0            NaN  5846647.0
9302  2025-04-16 08:30:00  25279906.0     28541891.0  5846647.0

[9303 rows x 4 columns]

In [6]:
steam_dataset['Users'] = steam_dataset['Users'].fillna(method='ffill') 
steam_dataset['Average Users'] = steam_dataset['Average Users'].fillna(method='bfill') 
steam_dataset['In_Game'] = steam_dataset['In_Game'].fillna(method='bfill')

C:\Users\Jean\AppData\Local\Temp\ipykernel_23752\3147346660.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  steam_dataset['Users'] = steam_dataset['Users'].fillna(method='ffill')
C:\Users\Jean\AppData\Local\Temp\ipykernel_23752\3147346660.py:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  steam_dataset['Average Users'] = steam_dataset['Average Users'].fillna(method='bfill')
C:\Users\Jean\AppData\Local\Temp\ipykernel_23752\3147346660.py:3: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  steam_dataset['In_Game'] = steam_dataset['In_Game'].fillna(method='bfill')

In [10]:
steam_dataset.to_csv('./my-app/public/assets/steam_user2.csv', index=False)